.tres{
    width: 90%;
    margin: auto;
    height: 1500px;
    background-image: url("https://i.pinimg.com/1200x/2c/02/47/2c02471a26c4d02964fd2148009e42e6.jpg");
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}